@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/*
 * Grid system
 *
 */
/*
 * Fonts
 *
 */
/*
 * Color
 *
 */
/*
 * Animation Speed
 *
 */
body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #5d5d5d;
  position: relative;
  overflow-x: hidden; }

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .container {
      max-width: 738px;
      margin: auto; } }
  @media (min-width: 992px) {
    .container {
      max-width: 980px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px; } }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hamburger {
  padding: 1px 0 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 13px;
  height: 10px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 13px;
  height: 2px;
  background-color: #e63c2f;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -4px; }

.hamburger-inner::after {
  bottom: -4px; }

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
  transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #e63c2f; }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #e63c2f; }

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  display: inline-block;
  margin-right: 27px;
  padding-top: 6px;
  line-height: 70px; }

.menu__item--active {
  border-bottom: 4px solid #ffb333; }

.menu__link {
  display: block;
  line-height: 70px;
  color: #5d5d5d;
  font-size: 14px;
  text-decoration: none; }

.menu__link:hover {
  color: #000000; }

.menu__item--active .menu__link {
  color: #000000; }

.logo {
  display: block;
  width: 109px;
  height: 12px;
  line-height: 12px; }
  @media (min-width: 992px) {
    .logo {
      width: 181px;
      height: 20px; } }

.logo .icon__logo {
  width: 109px;
  height: 12px;
  fill: #e63c2f; }
  @media (min-width: 992px) {
    .logo .icon__logo {
      width: 181px;
      height: 20px; } }

.logo--gray {
  display: block;
  width: 130px;
  height: 14px;
  line-height: 14px; }

.logo--gray .icon__logo--gray {
  width: 130px;
  height: 14px;
  fill: #bebebe;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.logo--gray .icon__logo--gray:hover {
  fill: #e04a36; }

.btn {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  background-color: #e04a36;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  position: relative; }

.btn:hover {
  cursor: pointer;
  color: #ffffff; }

.btn::before {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 0;
  display: block;
  content: " ";
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn:hover::before {
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2); }

.btn__text {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -0.9px;
  color: #ffffff;
  margin: 0 43px;
  line-height: 58px; }

.icon + .btn__text {
  margin-left: -14px; }

.btn__text:not(:last-child) {
  margin-right: -14px; }

.btn .icon {
  margin: 0 28px; }

.btn .icon:only-of-type {
  margin: 0; }

.btn--xs {
  border-radius: 2px; }

.btn--xs .btn__text {
  font-size: 13px;
  font-weight: bold;
  margin: 0 20px;
  line-height: 30px; }

.btn--outline {
  background: none;
  border: 1px solid #e04a36;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.btn--outline .btn__text {
  color: #e04a36;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.btn--outline:hover {
  background-color: #e04a36; }

.btn--outline:hover .btn__text {
  color: #ffffff; }

.btn--outline:hover::before {
  content: none; }

.btn--outline-yellow {
  background: none;
  border: 1px solid #ffb333;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.btn--outline-yellow .btn__text {
  color: #ffb333;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.btn--outline-yellow:hover {
  background-color: #ffb333; }

.btn--outline-yellow:hover .btn__text {
  color: #ffffff; }

.btn--outline-yellow:hover::before {
  content: none; }

.btn--yellow {
  background-color: #ffb333; }

.title-h1 {
  margin: 0 auto 30px auto;
  font-size: 30px;
  line-height: 35px;
  font-weight: 900; }
  @media (min-width: 768px) {
    .title-h1 {
      margin: 0 0 20px 0;
      font-size: 33px;
      line-height: 39px; } }
  @media (min-width: 992px) {
    .title-h1 {
      margin: 0 0 20px 0;
      font-size: 40px;
      line-height: 48px; } }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 380px;
  margin: auto; }
  @media (min-width: 768px) {
    .feature {
      text-align: left;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      max-width: 580px; } }

.feature__img {
  height: 100px; }
  @media (min-width: 768px) {
    .feature__img {
      height: 140px;
      padding-right: 37px; } }
  @media (min-width: 992px) {
    .feature__img {
      padding-right: 20px; } }
  @media (min-width: 1200px) {
    .feature__img {
      padding-right: 57px; } }

.feature__img .icon__big-1,
.feature__img .icon__big-2,
.feature__img .icon__big-3,
.feature__img .icon__big-4,
.feature__img .icon__big-5,
.feature__img .icon__big-6 {
  width: 100px;
  height: 100px; }
  @media (min-width: 768px) {
    .feature__img .icon__big-1,
    .feature__img .icon__big-2,
    .feature__img .icon__big-3,
    .feature__img .icon__big-4,
    .feature__img .icon__big-5,
    .feature__img .icon__big-6 {
      width: 140px;
      height: 140px; } }

.feature__text h3 {
  font-size: 17px;
  font-weight: 900;
  line-height: 1.35;
  color: #000000;
  margin: 24px 0 16px 0; }
  @media (min-width: 768px) {
    .feature__text h3 {
      margin: 0 0 20px 0;
      font-size: 21px;
      font-weight: 900;
      line-height: 1.29;
      max-width: 330px; } }
  @media (min-width: 992px) {
    .feature__text h3 {
      max-width: 210px; } }

.feature__text p {
  opacity: 0.8;
  font-size: 13px;
  line-height: 1.46;
  margin: 0 0 7px 0;
  color: #000000; }
  @media (min-width: 768px) {
    .feature__text p {
      margin: 0 0 10px 0;
      font-size: 15px;
      line-height: 1.4; } }
  @media (min-width: 992px) {
    .feature__text p {
      max-width: 300px; } }

@media (min-width: 992px) {
  .feature--full-width {
    max-width: 782px; } }

@media (min-width: 1200px) {
  .feature--full-width {
    max-width: 926px; } }

@media (min-width: 1200px) {
  .feature--full-width .feature__img {
    padding-right: 37px; } }

.feature--full-width .feature__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.feature--full-width .feature__text h3 {
  max-width: 100%; }

.feature--full-width .feature__text p {
  max-width: 100%; }

.testimonial {
  position: relative;
  padding: 0 0 0 40px; }

.testimonial__icon {
  position: absolute;
  top: 0;
  left: 0; }

.testimonial__icon .icon__quotes {
  fill: #e04a36;
  width: 21.1px;
  height: 18.5px; }

.testimonial__text {
  opacity: 0.8;
  font-size: 17px;
  line-height: 1.53;
  color: #000000;
  margin-top: 0;
  margin-bottom: 22px; }

.testimonial__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 13px;
  line-height: 1.15;
  color: #000000; }

.testimonial__img {
  padding-right: 14px; }

.testimonial__user-info h3 {
  font-size: 13px;
  line-height: 1.15;
  margin-top: 4px;
  margin-bottom: 7px; }

.testimonial__user-info p {
  margin: 0; }

.header__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }
  @media (min-width: 992px) {
    .header__in {
      height: 80px; } }

.header__menu {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: none; }
  @media (min-width: 992px) {
    .header__menu {
      display: block; } }

.header .hamburger {
  margin-right: 16px;
  display: block; }
  @media (min-width: 992px) {
    .header .hamburger {
      display: none; } }

@media (min-width: 992px) {
  .header .logo {
    margin-right: 80px; } }

.header__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.home-banner {
  background-image: url(../images/home-banner__bg.svg);
  padding-top: 47px;
  text-align: center; }
  @media (min-width: 768px) {
    .home-banner {
      text-align: left;
      padding-top: 50px;
      padding-bottom: 50px; } }

@media (min-width: 768px) {
  .home-banner__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 517px; } }

.home-banner__left {
  padding-bottom: 32px; }
  @media (min-width: 768px) {
    .home-banner__left {
      width: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 60px; } }
  @media (min-width: 992px) {
    .home-banner__left {
      padding-left: 80px;
      padding-right: 20px; } }
  @media (min-width: 1200px) {
    .home-banner__left {
      width: 40%;
      padding-left: 46px;
      padding-right: 40px; } }

.home-banner .title-h1 {
  color: #ffffff;
  max-width: 285px; }
  @media (min-width: 768px) {
    .home-banner .title-h1 {
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .home-banner .title-h1 {
      max-width: 350px;
      margin-top: 57px; } }

.home-banner__left p {
  color: #ffffff;
  opacity: 0.7;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 25px 0; }
  @media (min-width: 768px) {
    .home-banner__left p {
      font-size: 19px;
      margin: 0 0 35px 0; } }
  @media (min-width: 992px) {
    .home-banner__left p {
      margin: 0 0 50px 0; } }

.home-banner__right {
  position: relative; }
  @media (min-width: 768px) {
    .home-banner__right {
      width: 50%; } }
  @media (min-width: 1200px) {
    .home-banner__right {
      width: 60%; } }

.home-banner__macbook {
  position: relative;
  display: block;
  width: 100%;
  bottom: -22px; }
  @media (min-width: 768px) {
    .home-banner__macbook {
      position: absolute;
      width: 890px;
      top: 0;
      left: 0; } }

.home-text__in {
  text-align: center;
  margin: auto; }

.home-text__title {
  margin: 76px auto 36px auto;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.42;
  color: #e04a36;
  max-width: 580px; }
  @media (min-width: 768px) {
    .home-text__title {
      margin: 70px auto 30px auto; } }
  @media (min-width: 992px) {
    .home-text__title {
      margin: 55px auto 35px auto;
      font-size: 29px;
      line-height: 1.21;
      max-width: 720px; } }
  @media (min-width: 1200px) {
    .home-text__title {
      max-width: 950px;
      margin: 55px auto 40px auto; } }

.home-text__text {
  font-size: 17px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 580px; }
  @media (min-width: 992px) {
    .home-text__text {
      font-size: 19px;
      line-height: 1.53;
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .home-text__text {
      max-width: 756px; } }

.features-block {
  padding-top: 50px; }
  @media (min-width: 768px) {
    .features-block {
      padding-top: 88px; } }
  @media (min-width: 992px) {
    .features-block {
      padding-top: 68px; } }
  @media (min-width: 1200px) {
    .features-block {
      padding-top: 104px; } }

.features-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 992px) {
    .features-block__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.features-block__item {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 46px; }
  @media (min-width: 992px) {
    .features-block__item {
      width: 50%;
      margin-bottom: 52px; } }
  @media (min-width: 1200px) {
    .features-block__item {
      width: 50%;
      margin-bottom: 95px; } }

@media (min-width: 992px) {
  .features-block__item:nth-child(2n+1) {
    padding-right: 10px; } }

@media (min-width: 992px) {
  .features-block__item:nth-child(2n) {
    padding-left: 10px; } }

@media (min-width: 768px) {
  .features-block2 {
    padding-top: 25px; } }

@media (min-width: 992px) {
  .features-block2 {
    padding-top: 75px; } }

@media (min-width: 1200px) {
  .features-block2 {
    padding-top: 15px; } }

.features-block2__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.features-block2__item {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 40px 0;
  background-color: #f9f9f9; }
  @media (min-width: 768px) {
    .features-block2__item {
      padding: 30px 0; } }

.testimonials-block__header h2 {
  text-align: center;
  color: #000000;
  font-size: 29px;
  font-weight: bold;
  line-height: 1.21;
  margin-top: 58px;
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .testimonials-block__header h2 {
      margin-top: 44px;
      margin-bottom: 78px; } }
  @media (min-width: 992px) {
    .testimonials-block__header h2 {
      margin-top: 62px;
      margin-bottom: 68px; } }

.testimonials-block__body {
  overflow: hidden; }

.testimonials-block__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.testimonials-block__list .swiper-slide {
  text-align: left; }

.testimonials-block__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .testimonials-block__item {
      padding-right: 60px;
      padding-left: 8px; } }
  @media (min-width: 992px) {
    .testimonials-block__item {
      padding-right: 50px;
      padding-left: 8px; } }

.testimonials-block__pag {
  text-align: center; }
  @media (min-width: 768px) {
    .testimonials-block__pag {
      display: none; } }

.testimonials-block__pag .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  opacity: 0.4;
  background-color: #d8d8d8; }

.testimonials-block__pag .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #d8d8d8; }

.testimonials-block__body.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px; }
