div.social
	ul.social__list
		li.social__item
			a(href="#")
				svg.icon.icon__soc-in
					use(xlink:href="#icon__soc-in")

		li.social__item
			a(href="#")
				svg.icon.icon__soc-tw
					use(xlink:href="#icon__soc-tw")

		li.social__item
			a(href="#")
				svg.icon.icon__soc-fb
					use(xlink:href="#icon__soc-fb")