div.social
	ul.social__list
		li.social__item
			a(href="#")
				svg.icon.icon__soc-in(title="datatile")
					use(xlink:href="#icon__soc-in")

		li.social__item
			a(href="#")
				svg.icon.icon__soc-tw(title="datatile")
					use(xlink:href="#icon__soc-tw")

		li.social__item
			a(href="#")
				svg.icon.icon__soc-fb(title="datatile")
					use(xlink:href="#icon__soc-fb")