/*
 * Grid system
 *
 */



/*
 * Fonts
 *
 */

$font-main: 'Roboto';

/*
 * Color
 *
 */
 
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e04a36;
$color-red-2: #e63c2f;
$color-yellow: #ffb333;
$color-grey: #f9f9f9;
$color-grey-2: #bebebe;
$color-grey-3: #bbbbbb;
$color-text: #5d5d5d;
$color-text-2: #676767;
$color-text-3: #929292;

/*
 * Animation Speed
 *
 */

$animation-speed: 0.6s;
$animation-speed__faster: 0.2s;