section.home-banner
	div.container
		div.home-banner__in
			div.home-banner__left
				h1.title-h1 Better decisions with engaging research delivery

				p Small ad-hoc, syndicated studies or global brand trackers with millions of interviews are delivered in a streamlined and nice collaborative way with DATATILE.

				include ../btn/btn.pug
				+btn({text: 'Request live demo'})(class="btn--yellow modal-btn", data-target="form-request-demo")

			div.home-banner__right
				div.home-banner__img-block.swiper-wrapper
					div.home-banner__img.swiper-slide
						img(src="images/home-banner__crosstab.jpg", srcset="images/home-banner__crosstab@2x.jpg 2x", alt="crosstab")

					div.home-banner__img.swiper-slide
						img(src="images/home-banner__dashboard.jpg", srcset="images/home-banner__dashboard@2x.jpg 2x", alt="crosstab")

					div.home-banner__img.swiper-slide
						img(src="images/home-banner__myspace.jpg", srcset="images/home-banner__myspace@2x.jpg 2x", alt="crosstab")