section.home-banner
	div.container
		div.home-banner__in
			div.home-banner__left
				h1.title-h1 Better decisions with engaging research delivery

				p Small ad-hoc, syndicated studies or global brand trackers with millions of interviews are delivered in a streamlined and nice collaborative way with DATATILE.

				include ../btn/btn.pug
				+btn({text: 'Request live demo'})(class="btn--yellow")

			div.home-banner__right
				img.home-banner__macbook(src="images/home-banner__macbook.png", srcset="images/home-banner__macbook@2x.png 2x", alt="macbook")