footer.footer
	div.footer__copy
		a.logo.logo--gray(href="/")
			svg.icon.icon__logo--gray
				use(xlink:href="#icon__logo--gray")

		p Copyright © 2018 Datatile Ltd.
			br
			|All rights reserved.

		p.footer__sm-hide Privacy Policy
			br
			|Terms of Use

	div.footer__contacts.footer__sm-hide
		div
			h5 Company

			p DATATILE LTD.
				br
				|Poseidon, 10-12
				br
				|Olympus Village 8540
				br
				|Paphos, Cyprus

			p
				a(href="mailto:info@datatile.eu") info@datatile.eu

		div
			h5 Sales Contact Europe

			p STILEFFEKT
				br
				|Lauterbachstr. 29 
				br
				|82538 Geretsried

			p +49 8171 / 9069393
				br
				a(href="mailto:sales@datatile.eu") sales@datatile.eu

	div.footer__soc.footer__sm-hide
		include ../social/social.pug