div.features-block2
	ul.features-block2__list
		li.features-block2__item
			div.container
				include ../feature/feature.pug
				+feature({icon: 'icon__big-5', title: 'Custom solutions', text: '<p>Security of users\' data is our priority. You can manage access granularly on the level of groups of entities, databases,  dashboards, particular variables and chunks of data. Role-based functionality defines what features of the </p>'})(class="feature--full-width")

		li.features-block2__item
			div.container
				+feature({icon: 'icon__big-6', title: 'Security in focus', text: '<p>Security of users\' data is our priority. You can manage access granularly on the level of groups of entities, databases,  dashboards, particular variables and chunks of data. Role-based functionality defines what features of the </p>'})(class="feature--full-width")