doctype html
html(lang="en")
	include include/head.pug
	+head('Home')

	body
		include ../blocks/header/header.pug

		include ../blocks/home-banner/home-banner.pug

		include ../blocks/home-text/home-text.pug

		include ../blocks/features-block/features-block.pug

		include ../blocks/features-block2/features-block2.pug

		include ../blocks/testimonials-block/testimonials-block.pug

		br
		br
		br
		
		include include/svg.html
		include include/script.pug