section.home-text
	div.container
		div.home-text__in
			h2.home-text__title DATATILE is an online analytical platform empowering users to explore data and deliver insightful research findings.

			p.home-text__text We help our clients to enhance research capabilities from data processing to insightful delivery. DATATILE makes data exploration and analysis totally exciting by offering a one-stop shop solution that is reliable, user-friendly and fast.