.feature--full-width {
	@media(min-width: 992px){
		max-width: 782px;
	}
	@media(min-width: 1200px){
		max-width: 926px;
	}
}
.feature--full-width .feature__img {
	@media(min-width: 1200px){
		padding-right: 37px;
	}
}
.feature--full-width .feature__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.feature--full-width .feature__text h3 {
	max-width: 100%;
}
.feature--full-width .feature__text p {
	max-width: 100%;
}