section.testimonials-block
	div.container
		div.testimonials-block__header
			h2 Officially amazed clients

		div.testimonials-block__body
			ul.testimonials-block__list.swiper-wrapper
				li.testimonials-block__item.swiper-slide
					include ../testimonial/testimonial.pug
					+testimonial({text: 'The team was responsive, helpful, and pleasant to work with. I would use them again for a future need.', img: 'testimonial__matthias-tobies', name: 'Matthias Tobies', user_desc: 'Senior Research Executive at Ipsos Germany'})

				li.testimonials-block__item.swiper-slide
					+testimonial({text: 'They have done a great job in helping to build a custom portal for us, with great functionality for a media optimizer. ', img: 'testimonial__john-hallward', name: 'John Hallward', user_desc: 'Director of Global Product Development at Ipsos Connect'})

				li.testimonials-block__item.swiper-slide
					+testimonial({text: 'I used this great interactive presentation portal made by DATATILE team to demonstrate the migration…', img: 'testimonial__neli-esipova', name: 'Neli Esipova', user_desc: 'Senior Research Executive at Ipsos Germany'})

			div.testimonials-block__pag