section.companies
	h4.companies__title You’ll be in good company

	ul.companies__list
		li.companies__item
			img(src="images/companies__1.png", alt="")

		li.companies__item
			img(src="images/companies__2.png", alt="")

		li.companies__item
			img(src="images/companies__3.png", alt="")

		li.companies__item
			img(src="images/companies__1.png", alt="")

		li.companies__item
			img(src="images/companies__2.png", alt="")

		li.companies__item
			img(src="images/companies__3.png", alt="")