section.companies
	h4.companies__title You’ll be in good company

	ul.companies__list
		li.companies__item
			img(src="images/companies__ipsos.svg", alt="Ipsos")

		li.companies__item
			img(src="images/companies__omd.svg", alt="OMD")

		li.companies__item
			img(src="images/companies__tiburon.png", srcset="images/companies__tiburon@2x.png 2x", alt="Tiburon")

		li.companies__item
			img(src="images/companies__fastuna.svg", alt="Fastuna")

		li.companies__item
			img(src="images/companies__sinomonitor.png", srcset="images/companies__sinomonitor@2x.png 2x", alt="Sinomonitor")