nav.menu
	ul.menu__list
		li.menu__item.menu__item--active
			a.menu__link(href="#") Home
		li.menu__item
			a.menu__link(href="#") How it works
		li.menu__item
			a.menu__link(href="#") Services
		li.menu__item
			a.menu__link(href="#") About
		li.menu__item
			a.menu__link(href="#") Support