header.header
	div.container
		div.header__in
			include ../hamburger/hamburger.pug
			+hamburger()(id="hamburger")

			include ../logo/logo.pug

			//div.header__menu
				include ../menu/menu.pug

			div.header__right
				include ../btn/btn.pug
				+btn({text: 'Support portal', type: 'link', url: 'http://support.datatile.eu'})(class="btn--xs btn--flat")