.header__in {
	display: flex;
	align-items: center;
	height: 60px;

	@media(min-width: 992px){
		height: 80px;
	}
}
.header__menu {
	flex: 2;
	display: none;

	@media(min-width: 992px){
		display: block;
	}
}
.header .hamburger {
	margin-right: 16px;
	display: block;

	@media(min-width: 992px){
		display: none;
	}
}
.header .logo {
	@media(min-width: 992px){
		margin-right: 80px;
	}	
}
.header__right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}