header.header
	div.container
		div.header__in
			include ../hamburger/hamburger.pug
			//+hamburger()(id="hamburger")

			include ../logo/logo.pug

			//div.header__menu
				include ../menu/menu.pug

			div.header__right
				nav.menu
					ul.menu__list
						li.menu__item.menu__item--mob-hide
							a.menu__link(href="https://cloud.datatile.eu") Datatile in Cloud
						li.menu__item
							a.menu__link(href="http://support.datatile.eu") Support portal