section.take-control
	h2 Take control of your research life

	p Small ad-hoc, syndicated studies or global brand trackers with millions of interviews are delivered in a streamlined and nice collaborative way with DATATILE.

	div.take-control__bottom
		include ../btn/btn.pug
		+btn({text: 'Request live demo'})(class="modal-btn", data-target="form-request-demo")